#BlogBody {
  h2, h3, h4, h5, h6 , p {
    margin-bottom: 16px;
  }
  h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h2 {
    font-size: 32px;
    padding-top: 64px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  
  /*
   * リンク
  */  
  a {
    color: #016bde;
    text-decoration: underline;
  }

  /*
   * テーブル
  */  
  table {
    margin: 32px auto;
    width: auto;
  }
  thead, tbody, tr, th, td {
    padding: 8px;
    border: 1px solid #c0c0c0;
  }
  thead {
    background-color: #4b4b4b;
    color: #e8e8e8;
  }

  /*
   * コード
  */  
  code {
    background-color: #2c2c2c;
    color: #e8e8e8;
    padding: 4px 8px;
    border-radius: 4px;
  }
  pre {
    background-color: #2c2c2c;
    color: #e8e8e8;
    padding: 16px;
    border-radius: 8px;
  }
}