# GoogleForm Settings
NEXT_PUBLIC_GOOGLE_FORM_URL=https://forms.google.com/1y6R2tn27VOR-kltzsNleQtACB6fIeDn5PzENgct3yEw

# microCMS Settings
NEXT_PUBLIC_MICROCMS_API_KEY=your-microcms-api-key
NEXT_PUBLIC_MICROCMS_SERVICE_DOMAIN=mchkn
NEXT_PUBLIC_MICROCMS_BLOG_ENDPOINT=https://mchkn.microcms.io/api/v1/blog
NEXT_PUBLIC_MICROCMS_WORK_ENDPOINT=https://mchkn.microcms.io/api/v1/work 